

ul {
    list-style-type:none;
    margin: 10px;
    padding: 10px;
    flex-basis: 90wv;
    background-color:#ffffff;
    border: 3px solid rgb(255, 255, 255)
}

li a {
    color: rgb(47, 47, 47);
    font-size: large;
    padding: 0px 0px;
    text-decoration: none;
    display:inline;
    font-family: 'Cormorant Gaamond'; font-size: 15px;
    letter-spacing: 2px;
    position: relative;
    top: 6px;
}


li {
    text-align: center;
    display: inline;
    height: 15px;
    padding-left: 230px;
    
    
}

li:last-child {
    border-bottom: none;
}

li a.active {
    background-color: #cfd1dd;
    color: rgb(0, 0, 0);
}

li a:hover:not(.active) {
    background-color: rgba(255, 255, 255, 0.315);
    color: rgba(148, 148, 148, 0.693);
    border-radius: 20px;
}


.footer{
    display: flex;
    flex-direction: row;

    float: none;
}
.footeritem{
padding-right: 300px;
padding-left: 100px;
font-family: 'Cormorant Gaamond'; font-size: 15px; font-style: italic;
}



.myflexbox {
    display: flex;
    flex-direction: row;
}

.myflexbox div {
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 0px;
    margin: 0px;
    border-bottom: white;
    
}

.logga {
    flex-basis: 50vw;
    height: 100px;
    padding-right: 1300px;
    padding-bottom: 100px;
    position: absolute;
    top: 0px;
}



.flexcontainer{
    display: flex;
    flex-direction: row;
    padding: 50px;
    font-family: 'Cormorant Gaamond'; font-size: 10px; font-style: italic;
    margin: 20px;
    padding-left: 45px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.flexcontainer2{
    display: flex;
    flex-direction: row;
    padding: 50px;
    font-family: 'Cormorant Gaamond'; font-size: 10px; font-style: italic;
    margin: 20px;
    padding-left: 45px;
    padding-top: 0px;
}



.produkt1
{
    border: 1px solid rgb(226, 226, 226);
    margin: 10px;
    padding: 20px;
}

.produkt2{
    border: 1px solid rgb(226, 226, 226);
    margin: 10px;
    padding: 20px;
}

.produkt3{
    border: 1px solid rgb(226, 226, 226);
    margin: 10px;
    padding: 20px;
}

.produkt4{
    border: 1px solid rgb(226, 226, 226);
    margin: 10px;
    padding: 20px;
}

.produkt5{
    border: 1px solid rgb(226, 226, 226);
    margin: 10px;
    padding: 20px;
}

.produkt6{
    border: 1px solid rgb(226, 226, 226);
    margin: 10px;
    padding: 20px;
}
ul
{
    margin: 10;
    padding: 0;
    list-style-type: none;

}
li{
    margin: 10px;
    
}
.cart{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cartbutton{
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
}

.cartbutton{
    text-decoration: none;
}

.imagediv{
    width: 380px;
    height: 500px;
}

h2{
    font-family: 'Cormorant Gaamond'; font-size: 20px; 
     letter-spacing: 1px;
     color: #616161;
}

.price{
    font-size:medium;
    letter-spacing: 1px;
}

.container {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Cormorant Gaamond'; font-size: 60px; font-style:oblique;
    letter-spacing: 16px;

}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }