

ul {
    list-style-type:none;
    margin: 10px;
    padding: 10px;
    flex-basis: 90wv;
    background-color:#ffffff;
    border: 3px solid rgb(255, 255, 255)
}

li a {
    color: rgb(47, 47, 47);
    font-size: large;
    padding: 0px 0px;
    text-decoration: none;
    display:inline;
    font-family: 'Cormorant Gaamond'; font-size: 15px;
    letter-spacing: 2px;
    position: relative;
    top: 6px;
    
}


li {
    text-align: center;
    display: inline;
    height: 15px;
    padding-left: 230px;
    
    
}

li:last-child {
    border-bottom: none;
}

li a.active {
    background-color: #cfd1dd;
    color: rgb(0, 0, 0);
}

li a:hover:not(.active) {
    background-color: rgba(255, 255, 255, 0.315);
    color: rgba(148, 148, 148, 0.693);
    border-radius: 20px;
}

.footer{
    display: flex;
    flex-direction: row;
    float: none;
}
.footeritem{
    padding-right: 300px;
    padding-left: 100px;
    font-family: 'Cormorant Gaamond'; font-size: 15px; font-style: italic;

}
    
    

.myflexbox {
    display: flex;
    flex-direction: row;
}

.myflexbox div {
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 0px;
    margin: 0px;
    border-bottom: white;
    
}

.logga {
    flex-basis: 50vw;
    height: 100px;
    padding-right: 1300px;
    padding-bottom: 100px;
    position: absolute;
    top: 0px;
    
}

h1 {
    font-family: 'Cormorant Gaamond'; font-size: 27px; font-style: italic;
    text-align: center;
    color: #616161;
    letter-spacing: 1px;
    padding-top: 15px;
}

p {
    font-family: 'Cormorant Gaamond'; font-size: 17px; font-style: italic;
    text-align: center;
    color: #424242;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 30px;

}

.erbjudande {
    font-family: 'Cormorant Gaamond'; font-size: 22px; font-style: italic;
    padding-left: 400px;
    color: #6a6a6a; 
    letter-spacing: 2px;
    padding-top: 10px;
   
    
}



video{
    padding-top: 20px;
    padding-bottom: 10px;
    width: 1455px;
    height: 830px;
}
   

